#tool-options{
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
}

#tool-options .input-name{
    color: white;
    position: relative;
    font-size: 9pt;
    margin-top: 7px;
    margin-left: 10px;
}

#brush-size-name{
    position: absolute;
    top: 7px;
    color: white;
    font-size: 9pt;
    left: 10px;
}

#brush-size-input{
    top: 27px;
    position: absolute;
    left: 7px;
}

#opacity-name{
    position: absolute;
    top: 54px;
    color: white;
    font-size: 9pt;
    left: 10px;
}
        
#opacity-input{
    width: 60px;          
    position: absolute;
    top: 75px;
    left: 12px;
}

#show-tile-indices{
    font-size: 9pt;
    color: white;
    position: absolute;
    top: 103px;
    left: 10px;
}

#tile-indices-input{
    position: absolute;
    top: 121px;
    left: 35px;
    height: 20px;
    width: 20px;
    margin: 0;
}
