#tool-options{
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
}

#tool-options .input-name{
    color: white;
    position: relative;
    font-size: 10pt;
    margin-top: 7px;
    margin-left: 10px;
}

#brush-size-name{
    position: absolute;
    top: 7px;
    color: white;
    font-size: 10pt;
    left: 10px;
}

#brush-size-input{
    top: 30px;
    position: absolute;
    left: 12px;
}

#opacity-name{
    position: absolute;
    top: 60px;
    color: white;
    font-size: 10pt;
    left: 10px;
}
        
#opacity-input{
    width: 60px;          
    position: absolute;
    top: 84px;
    left: 17px;
}

#show-tile-indices{
    font-size: 10pt;
    color: white;
    position: absolute;
    top: 115px;
    left: 10px;
}

#tile-indices-input{
    position: absolute;
    top: 135px;
    left: 40px;
    height: 20px;
    width: 20px;
    margin: 0;
}
