#layers-header{
    background-color: rgb(59, 59, 65);
}

#add-layer{
    left: 0;
}

#delete-layer{
    left: 30px;
}

#move-layer-down{
    right: 0;
}

#move-layer-up{
    right: 30px;
}

#layers-body{
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

.layer{
    position: absolute;
    width: 100%;
    background-color: rgb(59, 59, 65);
    text-align: center;
}

.layer .visibility-icon{
    position: absolute;
    left: 0;
    top: 0;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 11pt;
    color: white;
}

.layer-settings-button{
    right: 0;
    background-color: rgb(59, 59, 65);
}
