#layer-settings{
    width: 200px;
    z-index: 100;
}

#layer-name-setting{
    width: 90%;
    margin: 6px 0 10px 5%;
}

#layer-settings #opacity-setting{
    position: absolute;
    width: 117px;
    padding-left: 5%;
}

#layer-settings #settings #opacity-setting span{
    color: black !important;
}

#layer-settings #buttons{
    display: block;
    width: 164px;
    margin: 33px auto 5px auto;
}
