#export-window{
    top: 100px;
    left: 200px;
    z-index: 100;
    width: 230px;
}

#export-window-body{
    display: grid;
    grid-template-rows: 40px 40px 30px 35px;
}

#pixel-size-wrapper{
    margin-left: 10px;
    align-self: center;
}

#pixel-size-input{
    width: 60px;
}

#file-name-wrapper{
    margin-left: 10px;
    align-self: center;
}

#file-name-input{
    width: 133px;
    float: right;
    margin-right: 10px;
}

#file-name-wrapper span{
    line-height: 30px;
}

#download-layers-wrapper{
    margin-left: 5px;
    align-self: center;
}

#download-current-layer-wrapper{
    margin-left: 5px;
    align-self: center;
}

#image-download-button{
    width: 100px;
    justify-self: center;
    margin-bottom: 5px;
}