@font-face{
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.ttf)
}
@font-face{
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf)
}

html, body{
    margin: 0;
    background-color: rgb(59, 59, 65);
    height: 100%;
    overflow: hidden;
}

body{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
}

span, input{
    font-family: Montserrat-Regular;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

canvas{
    image-rendering: pixelated;
    position: absolute;
    user-select: none;
}

span, img{
    user-select: none;
}

.button{
    user-select: none;
}

.button:hover{
    background-color: rgb(116, 116, 124) !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

button{
    user-select: none;
}