.editor{
    display: grid;
    grid-template-columns: 100px 1fr auto;
    grid-row: 2;
}

#sidebar-left{
    grid-row: 1;
    grid-column: 1;
    box-shadow: 0px 1px 0px 0px black inset;
    background-color: rgb(59, 59, 65); 
}

#sidebar-left i{
    line-height: 50px;
    font-size: 26px;
    color: white;
}

#sidebar-right{
    display: grid;
    grid-column: 3;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 10px 1fr;
}

#sidebar-windows{
    width: 300px;
}

#sidebar-resizer{
    position: relative;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: rgb(108, 107, 114);
    border-radius: 3px;
    display: grid;
}

#sidebar-resizer i{
    top: 49%;
    left: -1px;
    z-index: 10;
    position: absolute;
    display: inline-block;
    font-size: 9pt;
    font-stretch: expanded;
    color: white;
    transform: rotate(90deg) scaleX(1.5);
}

.window-resizer{
    position: relative;
    grid-row: 3;
    background-color: rgb(108, 107, 114);
    z-index: 10;
}

.window-resizer i{
    transform: scaleX(1.5);
    font-size: 8pt;
    color:white;
    position: absolute;
    left: 48%;
    top: -1px;
}

.window-resizer:hover{
    cursor: ns-resize;
}

#canvas-area{
    position: relative;
    grid-column: 2;
    align-self: center;
    height: 100%;
    background-color: rgb(26, 27, 32);
    overflow: hidden;
    z-index: 1;
}

.layer-canvas{
    position: absolute;
    top: 0;
    left: 0;
}

.render-canvas, #eyedropper-canvas{
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
}

#canvas-area #canvas-wrapper{
    position: absolute;

    background: repeating-linear-gradient(
    135deg,
    #ffffff,
    #ffffff 2.5px,
    #dbdbdb 2.5px,
    #dbdbdb 5px
    );
}

#save-canvas{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#canvas-area #render-canvas{
    position: absolute;
    top: 0;
    left: 0;
}

#background-canvas{
    z-index: 1;
}
 
#draw-canvas{
    z-index: 2;
}

#foreground-canvas{
    z-index: 3;
}

#canvas-area #canvas-wrapper #draw-preview-canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

#canvas-area #mouse-indicator{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 100;
}

.selection-canvas{
    position: absolute;
    z-index: 40;
}

#selection-size{
    position: absolute;
    display: none;
    height: 30px;
    background-color: rgba(26, 27, 32, 0.7);
    border: 1px solid white;
    border-radius: 5px;
    z-index: 10;
}

#selection-size #size-span{
    margin-left: 4px;
    margin-right: 4px;
    line-height: 30px;
    font-size: 10pt;
    color: white;
}