.editor{
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    grid-row: 2;
}

#others{
    grid-row: 1;
    grid-column: 3  ;
    justify-self: auto;
    align-self: auto;
    border-top: 2px solid black;
}

#canvas-area{
    position: relative;
    grid-column: 2;
    align-self: center;
    height: 100%;
    background-color: rgb(26, 27, 32);
    overflow: hidden;
    z-index: 0;
}

#canvas-area #canvas-wrapper{
    position: absolute;
    background-image: url(images/checkers.gif);
    background-repeat: repeat;
}

#canvas-area #canvas-wrapper #main-canvas{
    position: relative;
    image-rendering: pixelated;
}
    
#canvas-area #canvas-wrapper #line-canvas{
    position: absolute;
    top: 0;
    left: 0;
}

#canvas-area #canvas-wrapper #mouse-indicator{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
}

#selection-size{
    position: absolute;
    display: none;
    height: 30px;
    background-color: rgba(26, 27, 32, 0.7);
    border: 1px solid white;
    border-radius: 5px;
}

#selection-size #size-span{
    margin-left: 4px;
    margin-right: 4px;
    line-height: 30px;
    font-size: 10pt;
}