/* Common css for sidebar windows */

.sidebar-window{
    position: relative;
}

.sidebar-window-header{
    position: relative;
    text-align: center;
    height: 27px;
}

.sidebar-window-span{
    color: white;
    font-size: 9pt;
    line-height: 27px;
}

.sidebar-window-button{
    position: absolute;
    width: 27px;
    height: 27px;
    top: 0;
    text-align: center;
}

.sidebar-window-button-icon{
    color: white;
    font-size: 13pt;
    line-height: 27px !important;
}

.sidebar-window-resizer{
    height: 7px;
}

.sidebar-window-body{
    height: 153px;
    background-color: rgb(85, 85, 92);
}
