#toolbox{
    grid-template-rows: 2;
    grid-row: 1;
    grid-column: 1;
    justify-self: auto;
    align-self: auto;
    box-shadow: 0px 1px 0px 0px black inset;
    text-align: center;
    background-color: rgb(59, 59, 65);
    z-index: 2;
}

.tool{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(59, 59, 65);
    float: left;
}

#color-preview{
    position: relative;
    width: 100%;
    height: 100px;
}

#color-preview:hover #color-tool-tip{
    display: block;
}

#color-tool-tip{
    position: absolute;
    display: none;
    height: 30px;
    width: 113px;
    background-color: black;
    border-radius: 5px;
    z-index: 1000;
    left: 110px;
    top: 29px;
    text-align: left;
}

#color-tool-tip span{
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#color-tool-tip i{
    position: absolute;
    left: -8px;
    top: -10px;
}

.color-preview-square{
    position: absolute;
    width: 50px;
    height: 50px;
}

#primary-color-rect{
    top: 14px;
    left: 14px;
    z-index: 2;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
}

#primary-color-rect:hover{
    cursor: pointer;
    animation: hover-anim 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#primary-alpha-img{
    top: 14px;
    left: 14px;
    z-index: 1;
    border-radius: 4px;
}

#secondary-color-rect{
    right: 14px;
    bottom: 14px;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);
}

#secondary-color-rect:hover{
    cursor: pointer;
    animation: hover-anim 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes hover-anim{
    from{box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.73);}
    to{box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.73);}
}

#secondary-alpha-img{
    right: 14px;
    bottom: 14px;
    z-index: 0;
    border-radius: 4px;
}

#color-preview-buttons{
    width: 100%;
    height: 25px;
    margin-bottom: 15px;
}

#switch-colors-button{
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 18px;
    border-radius: 3px;
    border: 1px solid rgb(27, 27, 31);
    float: left;
}

#switch-colors{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

#switch-colors-icon{
    position: relative;
    text-align: center;
}

#switch-colors-button:hover #switch-colors{
    border-top: 1px solid rgb(157, 157, 157);
}

#switch-colors-button:active #switch-colors-icon{
    top: 1px;
}

#switch-colors-button:active #switch-colors{
    border: none;
}

#switch-colors-button:hover #switch-colors-tool-tip{
    display: block;
}

#switch-colors-tool-tip{
    position: absolute;
    display: none;
    height: 30px;
    width: 122px;
    background-color: black;
    border-radius: 5px;
    z-index: 1000;
    left: 35px;
    top: -2px;
    text-align: left;
}

#switch-colors-tool-tip span{
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#switch-colors-tool-tip i{
    position: absolute;
    left: -8px;
    top: -10px;
}

#reset-colors-button{
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 18px;
    border-radius: 3px;
    border: 1px solid rgb(27, 27, 31);
    float: right;
}

#reset-colors{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

#reset-colors-icon{
    position: relative;
    text-align: center;
}

#reset-colors-icon img{
    margin-top: 4px;
    width: 65%;
    height: 65%;
    user-select: none;
}

#reset-colors-button:hover #reset-colors-tool-tip{
    display: block;
}

#reset-colors-tool-tip{
    position: absolute;
    display: none;
    height: 30px;
    width: 94px;
    background-color: black;
    border-radius: 5px;
    z-index: 1000;
    left: 35px;
    top: -2px;
    text-align: left;
}

#reset-colors-tool-tip span{
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#reset-colors-tool-tip i{
    position: absolute;
    left: -8px;
    top: -10px;
}

#reset-colors-button:hover #reset-colors{
    border-top: 1px solid rgb(157, 157, 157);
}

#reset-colors-button:active #reset-colors-icon{
    top: 1px;
}

#reset-colors-button:active #reset-colors{
    border: none;
}

.tool-tip{
    pointer-events: none;
}

/* TOOL TIPS */

#draw-tool-tip, #eraser-tool-tip, #line-tool-tip, #fill-tool-tip, #rectangle-tool-tip, #eyedropper-tool-tip, #select-tool-tip, #hand-tool-tip{
    position: absolute;
    display: none;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    z-index: 1000;
    left: 60px;
    top: 10px;
    text-align: left;
}

/* DRAW TOOL */

#draw-tool-tip{
    width: 100px;
}

#draw-tool-tip span{
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#draw-tool-tip i{
    position: absolute;
    color: black;
    left: -8px;
    top: -10px;
}

#drawtool:hover #draw-tool-tip{
    display: block;
}

/* ERASER TOOL */

#eraser-tool-tip{
    width: 106px;
}

#eraser-tool-tip span{
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#eraser-tool-tip i{
    position: absolute;
    left: -8px;
    top: -10px;
}

#eraser:hover #eraser-tool-tip{
    display: block
}

/* LINE TOOL */

#line-tool-tip{
    width: 122px;
}

#line-tool-tip span{
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#line-tool-tip i{
    position: absolute;
    left: -8px;
    top: -10px;
}

#line:hover #line-tool-tip{
    display: block;
}

/* FILL TOOL */

#fill-tool-tip{
    width: 82px;
}

#fill-tool-tip span{
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#fill-tool-tip i{
    position: absolute;
    left: -8px;
    top: -10px;
}

#fill:hover #fill-tool-tip{
    display: block;
}

/* RECTANGLE TOOL */

#rectangle-tool-tip{
    width: 132px;
}

#rectangle-tool-tip span{
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#rectangle-tool-tip i{
    position: absolute;
    left: -8px;
    top: -10px;
}

#rectangle:hover #rectangle-tool-tip{
    display: block;
}

/* EYEDROPPER TOOL */

#eyedropper-tool-tip{
    width: 151px;
}

#eyedropper-tool-tip span{
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#eyedropper-tool-tip i{
    position: absolute;
    left: -8px;
    top: -10px;
}

#eyedropper:hover #eyedropper-tool-tip{
    display: block;
}

/* SELECT TOOL */

#select-tool-tip{
    top: -21px;
    width: 200px;
    height: 90px;
}

#select-tool-tip span{
    display: block;
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#select-tool-tip i{
    position: absolute;
    left: -8px;
    top: 21px;
}

#select:hover #select-tool-tip{
    display: block;
}

/* HAND TOOL */

#hand-tool-tip{
    width: 132px;
}

#hand-tool-tip span{
    font-size: 10pt;
    margin-left: 6px;
    margin-right: 5px;
    line-height: 30px;
}

#hand-tool-tip i{
    position: absolute;
    left: -8px;
    top: -10px;
}

#hand:hover #hand-tool-tip{
    display: block;
}

#line{
    background-image: url(images/line_tool.gif);
    background-size: 56%;
    background-repeat: no-repeat;
    background-position: center center;
}

#select{
    background-image: url(images/select_tool.png);
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center center;
}

#toolbox i{
    line-height: 50px;
    font-size: 26px;
    color: white;
}