#website-body{
    display: grid;
    grid-template-columns: 101px 1fr auto;
    grid-row: 2;
    overflow: hidden;
}

#sidebar-left{
    grid-row: 1;
    grid-column: 1;
    box-shadow: 0px 1px 0px 0px black inset;
}


#sidebar-right{
    display: grid;
    grid-column: 3;
    grid-row: 1;
    grid-template-columns: 10px 1fr;
    overflow: hidden;
}

#sidebar-windows{
    width: 300px;
}

#sidebar-resizer{
    grid-row-start: 1;
    grid-row-end: 6;
}

.vertical-resizer{
    position: relative;
    grid-column: 1;
    background-color: rgb(108, 107, 114);
    display: grid;
    z-index: 10;
}

.vertical-resizer i{
    top: 48.5%;
    left: -1px;
    z-index: 10;
    position: absolute;
    display: inline-block;
    font-size: 9pt;
    font-stretch: expanded;
    color: white;
    transform: rotate(90deg) scaleX(1.5);
}

.vertical-resizer:hover{
    cursor: ew-resize;
}

.horizontal-resizer{
    position: relative;
    background-color: rgb(108, 107, 114);
    z-index: 10;
}

.horizontal-resizer i{
    transform: scaleX(1.5);
    font-size: 8pt;
    color:white;
    position: absolute;
    left: 48%;
    top: -1px;
}

.horizontal-resizer:hover{
    cursor: ns-resize;
}

#website-body-center{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-column: 2;
    align-self: center;
    z-index: 0;
    height: 100%;
    background-color: rgb(26, 27, 32);
}

#editor{
    position: relative;
    grid-row: 1;
    height: 100%;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 2px black;
}

#draw-canvas{
    background: repeating-linear-gradient(135deg,#ffffff,#ffffff 3px,#ededed 3px,#ededed 6px);
}

#mouse-indicator{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 102;
}

#selection-rect{
    position: absolute;
    z-index: 1000;
    outline: 1px solid red; 
    background: transparent;
    display: none;
}

#selection-size{
    position: absolute;
    display: none;
    height: 30px;
    background-color: rgba(26, 27, 32, 0.7);
    border: 1px solid white;
    border-radius: 5px;
    z-index: 10;
}

#selection-size #size-span{
    margin-left: 4px;
    margin-right: 4px;
    line-height: 30px;
    font-size: 10pt;
    color: white;
}