.button-slider-wrapper{
    height: 25px;
    position: relative;
}

.button-slider-slider{
    display: none;
    background-color: rgb(40, 40, 40);
    z-index: 10;
    box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.56);
    right: 9px;
}

.button-slider-name{
    user-select: none;
    color: white;
    float: left;
    line-height: 25px;
}

.button-slider-caret{
    position: absolute;
    color: white;
    font-size: 16pt;
    right: 5px;
    line-height: 25px;
}

.button-slider-input-wrapper{
    position: relative;
    overflow: auto;
    height: inherit;
    float: right;
}

.button-slider-input{
    height: inherit;
    background-color: rgb(23, 23, 23);
    border-radius: 4px;
    border: 0;
    padding: 0;
    color: white;
    font-size: 12pt;
    padding:0 0 0 5px;
    outline: none;
}