.window{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.57);
    position: absolute;
    display: none;
}

.window span{
    font-size: 10pt;
}

.window-header{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 25px;
    background-color: rgb(64, 64, 202);
}

.window-header-title{
    color: white;
    line-height: 25px;
    font-size: 10pt;
    margin-left: 7px;
}

.window-cross{
    color: white;
    float: right;
    line-height: 25px !important;
    font-size: 10pt;
    margin-right: 7px;
}

.window-cross:hover{
    color: rgb(176, 176, 176);
}

.window-footer{
    height: 15px;
    background-color: rgb(64, 64, 202);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.window-input{
    border: 1px solid gray;
    height: 30px;
    border-radius: 4px;
    outline: none;
    color: black;
    font-size: 10pt;
    padding-left: 10px;
    box-sizing: border-box;
}

.window-input:focus{
    border-bottom: 2px solid rgb(64, 64, 202);
}

.window button{
    height: 28px;
    width: 80px;
    border-radius: 14px;
    outline: none;
    color: black;
    font-family: Montserrat-Regular;
    border: 1px solid black;
    font-size: 10pt;
    background-color: transparent;
}

.window button:active{
    border: 1px solid rgb(64, 64, 202);
    background-color: rgb(64, 64, 202);
    color: white;
}