#palette-settings{
    width: 180px;
    z-index: 100;
}

#palette-settings-body span{
    float:left;
    line-height: 27px;
    margin: 6px 0 0 6px;
}

#palette-width-setting, #palette-height-setting{
    width: 110px;
    float:right;
    margin: 6px 6px 0 5%;
}

#palette-height-setting{
    margin-bottom: 6px;
}

#palette-settings-buttons{
    width: 164px;
    margin: 0 auto 5px auto;
}