#palette{
    z-index: 2;
}

#palette-wrapper{
    position: relative;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.palette-color{
    position: absolute;
    width: 26px;
    height: 26px;
    float: left;
    margin: 1px;
    outline-offset: -7px;
}

#palette-body{
    overflow: scroll;
}

#remove-color{
    left: 30px;
}