#new-document-panel{
    width: 250px;
    z-index: 100;
}

#new-document-body{
    display: grid;
    grid-template-rows: 25px 55px 55px 55px 30px 35px;
    grid-template-columns: 50% 50%;
}

#new-document-body span{
    line-height: 25px;
    float: left;
}

/* Document Type Buttons */

#single-image-document{
    text-align: center;
    grid-row: 1;
    grid-column: 1;
}

#tiled-document{
    text-align: center;
    grid-row: 1;
    grid-column: 2;
}

#tiled-document span, #single-image-document span{
    float: none !important;
}

/* Document Name */

#document-name-wrapper{
    grid-area: 2 / 1 / span 1 / span 2;
    padding-left: 9px;
}

#name-input{
    float: left;
    width: 96%;
}

/* Document Width */

#document-width-wrapper{
    grid-area: 3 / 1 / span 1 / span 2;
    padding-left: 9px;
}

#document-width-input{
    width: 96%;
}

/* Document Height */

#document-height-wrapper{
    grid-area: 4 / 1 / span 1 / span 2;
    padding-left: 9px;
}

#document-height-input{
    width: 96%;
}

/* Tile Width */

#tile-width-wrapper{
    grid-area: 3 / 2 / span 1 / span 1;
    display: none;
    padding-left: 9px;
}

#tile-width{
    width: 105px;
}

/* Tile Height */

#tile-height-wrapper{
    grid-area: 4 / 2 / span 1 / span 1;
    display: none; 
    padding-left: 9px;
}

#tile-height{
    width: 105px;
}

/* Transparency */

#transparency-wrapper{
    grid-area: 5 / 1 / span 1 / span 2;
    padding-left: 9px;
}

#transparency-input{
    float: left;
    height: 25px;
    margin: 0 5px 0 0;
}

/* Buttons */

#submit-buttons-wrapper{
    grid-area: 6 / 1 / span 1 / span 2;
    justify-self: center;
}
