#preview-header{
    z-index: 1;
    background-color: rgb(59, 59, 65);
}

#palette-settings-button{
    right: 0;
}

#preview-header{
    box-shadow: 0px 1px 0px 0px black inset;
}

#preview-zoom{
    position: absolute;
    z-index: 1;
    margin-left: 7px;
}

#preview-zoom-in{
    right: 27px;
    box-shadow: 0px 1px 0px 0px black inset;
}

#preview-zoom-out{
    right: 0;
    box-shadow: 0px 1px 0px 0px black inset;
}

#preview-body{
    overflow: hidden;
    position: relative;
    display: grid;
}

#preview-body canvas{
    grid-row: 1;
    justify-self: center;
    align-self: center;
    position: absolute;
    background-color: white;
    image-rendering: pixelated;

    background: repeating-linear-gradient(135deg,#ffffff,#ffffff 3px,#ededed 3px,#ededed 6px);
}

#canvas-visible-rect{
    position: absolute;
    border: 1px solid red;
}
