#export-image-window{
    top: 100px;
    left: 200px;
    z-index: 100;
    width: 230px;
}

#export-image-body{
    display: grid;
    grid-template-rows: 25px 40px 40px 30px 30px;
}

#export-type-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-content: center;
}

#export-type-wrapper span{
    line-height: 25px;
}

#image-type{
    height: 25px;
}

#anim-type{
    height: 25px
}

#pixel-size-wrapper{
    margin-left: 10px;
    align-self: center;
}

#pixel-size-input{
    width: 60px;
}

#file-name-wrapper{
    margin-left: 10px;
}

#file-name-input{
    width: 133px;
    float: right;
    margin-right: 10px;
}

#file-name-wrapper span{
    line-height: 30px;
}

#export-all-wrapper{
    margin-left: 5px;
}

#export-current-wrapper{
    margin-left: 5px;
}

#image-download-button{
    width: 100px;
    justify-self: center;
    margin-bottom: 5px;
}