#tiles-body{

    position: relative;
}

.tile{
    user-select: none;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 1px;

    background: repeating-linear-gradient(
    135deg,
    #ffffff,
    #ffffff 2.5px,
    #dbdbdb 2.5px,
    #dbdbdb 5px
    );

    outline-offset: -4px;
}

.tile-index{
    position: absolute;
    font-size: 10pt;
    color: red;
    z-index: 1000000;
}

#remove-tile{
    left: 30px;
}

#zoom-tileset-in{
    right: 60px;
}

#zoom-tileset-out{
    right: 30px;
}

#tileset-settings-button{
    right: 0px;
}

#tile-placer-rect{
    box-shadow: inset 0px 0px 0px 2px black;
    position: absolute;
    z-index: 10;
    display: none;
}
