#tiles-body{
    display: grid;
    overflow: scroll;
}

#tiles-wrapper{
    position: relative;
    justify-self: center;
    border: 1px solid black;
    width: 230px;
    height: 150px;
}

.tile{
    width: 40px;
    height: 40px;
    margin: 1px;

    background: repeating-linear-gradient(
    135deg,
    #ffffff,
    #ffffff 2.5px,
    #dbdbdb 2.5px,
    #dbdbdb 5px
    );

    outline-offset: -4px;
}

.tile-index{
    position: absolute;
    font-size: 10pt;
    color: red;
    z-index: 1000000;
}

#tile-grid-canvas{
    position: absolute;
}
