#tileset-settings{
    width: 200px;
    z-index: 100;
}

#tileset-settings-body span{
    float:left;
    line-height: 30px;
    margin: 6px 0 6px 6px;
}

#tileset-width-setting{
    width: 85px;
    margin: 6px 6px 6px 5%;
}

#tileset-settings-buttons{
    width: 164px;
    margin: 0 auto 3px auto;
}