#toolbar{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(59, 59, 65);
    z-index: 10;
}

.dropdown{
    display: none;
    position: absolute;
    width: 200px;
    height: auto;
    background-color: rgb(73, 73, 82);
    border-radius: 0 5px 5px 5px;
    top: 30px;
    box-shadow: 0px 8px 22px -2px rgba(0,0,0,0.75);
}

.dropdown ul{
    margin: 0;
    padding: 0;
}

.dropdown li{
    font-family: Montserrat-Regular;
    font-size: 10pt;
    color: white;
    line-height: 30px;
    padding-left: 15px;
}

.dropdown li:hover{
    background-color: rgb(92, 92, 105);
}

.dropdown li i{
    font-size: 13pt;
    margin-right: 7px;
    line-height: 30px;
}

#file{
    display: grid;
    grid-template-columns: 47px 1fr;
    position: relative;
    grid-column: 1;
    text-align: center;
    height: 30px;
    float: left;
}

#file #file-icon{
    grid-column: 1;
    font-size: 14pt;
    color: white;
    margin-right: 5px;
    line-height: 30px;
    justify-self: right;
}

#file span{
    grid-column: 2;
    font-size: 10pt;
    color: white;
    font-family: Montserrat-Regular;
    line-height: 30px;
    justify-self: left;
}

#new-button{
    border-top-right-radius: 5px;
}

#export-image-button{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#undo{
    position: relative;
    grid-column: 2;
    height: 30px;
    float: left;
    display: grid;
    grid-template-columns: 45px 1fr;
}

#undo:hover #undo-tooltip{
    display: block;
}

#undo-tooltip{
    width: 112px;
    left: -6px;
    top: 40px;
}

#undo-tooltip i{
    font-size: 20pt;
    left: 47px;
    top: -15px;
}

#undo #undo-icon{
    float: left;
    grid-column: 1;
    font-size: 12pt;
    color: white;
    margin-right: 5px;
    line-height: 30px;
    justify-self: right;
}

#undo #undo-span{
    grid-column: 2;
    font-size: 9pt;
    color: white;
    font-family: Montserrat-Regular;
    line-height: 30px;
}

#redo{
    position: relative;
    grid-column: 3;
    height: 30px;
    float: left;
    display: grid;
    grid-template-columns: 45px 1fr;
}

#redo #redo-icon{
    float: left;
    grid-column: 1;
    font-size: 12pt;
    color: white;
    margin-right: 5px;
    line-height: 30px;
    justify-self: right;
}

#redo #redo-span{
    grid-column: 2;
    font-size: 9pt;
    color: white;
    font-family: Montserrat-Regular;
    line-height: 30px;
}

#redo:hover #redo-tooltip{
    display: block;
}

#redo-tooltip{
    width: 156px;
    left: -25px;
    top: 40px;
}

#redo-tooltip i{
    font-size: 20pt;
    left: 67px;
    top: -15px;
}

#selection-settings{
    position: relative;
    grid-column: 4;
    height: 30px;
    float: left;
    text-align: center;
    display: grid;
    grid-template-columns: 30px 1fr;
}

#selection-settings-icon{
    float: left;
    grid-column: 1;
    font-size: 12pt;
    color: white;
    margin-right: 5px;
    line-height: 30px;
    justify-self: right;
}

#selection-settings-span{
    grid-column: 2;
    font-size: 9pt;
    color: white;
    font-family: Montserrat-Regular;
    line-height: 30px;
    justify-self: left;
}

#selection-dropdown{
    left: 300px;
}

#selection-dropdown li i{
    font-size: 13pt;
    margin-right: 5px;
}

#flip-horizontal{
    padding-left: 11px;
    border-top-right-radius: 5px;
}

#flip-vertical{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#flip-vertical i{
    margin-right: 9px !important;
}
